body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); /* Adjust based on the height of your navbar */
    padding-top: 60px; /* Add padding to account for the navbar height */
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    position: relative;
    background-color: orange;
}

.photo-container {
    margin-right: 20px; /* Space between photo and text box */
}

.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.text-box {
    max-width: 600px;
    background-color: #ba8f87;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.text-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px; /* Adjust based on the size and spacing */
    margin-top: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #ba8f87;
    border-left: 0;
}

#typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    text-align: left; /* Ensure text aligns properly for multi-line text */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}


@keyframes showCTA {
    from { opacity: 0; }
    to { opacity: 1; }
}

#cta-button {
    display: block;
    margin-top: 20px;
    background-color: #007BFF; /* Adjust color as needed */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    opacity: 0; /* Initially hidden */
    animation: showCTA 1s forwards;
    animation-delay: 4s; /* Matches the duration of the typing effect */
}

#cta-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}